@font-face {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./s/oranienbaum/v10/OZpHg_txtzZKMuXLIVrx-0zg5Eg.ttf) format('truetype');
}